name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20.14.0'
          cache: 'npm'
          cache-dependency-path: code/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./code

      - name: Run lint
        run: npm run lint
        working-directory: ./code

      - name: Run build
        run: npm run build
        working-directory: ./code

      - name: Run tests
        run: npm test
        working-directory: ./code
